

<div class="container">

	<div class="row">

		<div class="banner valign-wrapper">
			<h1 class="center-align bannerText">Mongo Scraper</h1>
		</div>
		<a class="waves-effect waves-light btn center-align" id="scraper" href="/scrape">Scrape new articles from Google News <i class="material-icons right">search</i></a>
		
		<ul class="collection">
		{{#each articles}}

		    <li class="collection-item">
		    <a href="{{this.link}}">{{this.title}}</a>
		    <form action="/savearticle/{{this.id}}" method="POST" class="saveForm">
		    	<button type="submit" class="waves-effect waves-light btn saveBtn">Save Article</button>
		    </form>
		    </li>

		{{/each}}
		</ul>
	</div>
</div>