<div class="container">
	<div class="row">
		<a class="waves-effect waves-light btn-large" id="scraper" href="/scrape">Scrape!</a>
		<ul class="collection">
		{{#each articles}}

		    <li class="collection-item">
		    <a href="{{this.link}}">{{this.title}}</a>
		    <form action="/savearticle/{{this.id}}" method="POST">
		    	<button type="submit" class="waves-effect waves-light btn saveBtn">Save Article</button>
		    </form>
		    </li>

		{{/each}}
		</ul>
	</div>
</div>